@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


/* By This websit will fit to complete screen */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-color: black;
}
.main{
    background-image: url(./Assets/Images/Bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1200px,100vw);
    position: relative;
    height: 700px;
}
/* by this making backgroung pic more blackish*/
.main .box{
    height: 700px;
    width:100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.69;
    
}
nav{
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}
/* Netflixlogo */
nav img{
    width: 130px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 20;
    margin-left: 15px;
    font-size: 15px;
    width: 80px;
    height: 40px;
    
}
nav select{
    position: relative;
    z-index: 20;
    font-size: 16px;
}
/*Content in starting to website start*/
.box_Content{
    font-family: 'Martel Sans', sans-serif;
    color: white;
   display: flex;
   height: calc(100% - 100px);
   position: relative;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 23px;
   padding:0 30px;
}
.box_Content> :nth-child(1){
    
    font-weight: bolder;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.box_Content> :nth-child(2){
    
    font-weight: bolder;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.box_Content> :nth-child(3){
    
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.box_Content> :nth-child(4){
    
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

/*Content in starting to website  End */


.Seperationreal{
    height: 7px;
    background-color: rgb(95, 89, 89);
    position: relative; 
}
.Seperation
{
    height: 7px;
    background-color: rgb(95, 89, 89);
    position: relative;
    margin-top: 50px;
}
/* pic and vied css start  */
.first{
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
    max-width: 70vw;
   
    align-items: center;
}
.secimg{
    position: relative;
    z-index: 10px;
}
.secimg img{
    width: 30vw;
    position: relative;
    z-index: 10;
    top: 30px;
    
}
.secimg video{
   
    position: absolute;
    top: 100px;
    right: 63px;
    width: 22vw
    
}
.videotwo{
    position: relative;
    z-index: 10px;
}
.videotwo img{
    width: 30vw;
    position: relative;
    z-index: 10;
    top: 30px;
    
}
.videotwo video{
    position: absolute;
    top: 70px;
    right: 80px;
    width: 19vw
}
section.first > div{
    display: flex;
   flex-direction: column;
}
.first  div :nth-child(1)
{
    font-size: 48px;
    font-weight: bolder;
}
.first  div :nth-child(2)
{
    font-size: 24px;
    
}
/* pic and vied css end here  */

/* Frequently Asked Question*/
.faqheading{
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 20px;
}
.faq_content{
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 41, 41);
    color: white;
    max-width: 60vw;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}
/* Frequently Asked Question  end here*/

/* Down Start Here */
.down{
    display: flex;
    justify-content: center;
}
.three{
    font-family: 'Martel Sans', sans-serif;
    font-size: 27px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 25px;
}
